<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<div class="card">
  <div class="card-header text-center bg-info text-white">
    <h1>Post-édition des traductions en pictogrammes proposées</h1>
  </div>
  <div class="card-body">
    <h2 class="text-left">Projet PROPICTO</h2>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a sodales est, a aliquam tellus. Donec id nisi blandit, efficitur nunc et, placerat tortor. Nullam finibus massa arcu, vel tempus urna elementum mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed bibendum libero, id venenatis turpis. Proin ultrices libero ut tortor euismod posuere. Integer rhoncus dui quis tellus ultricies, sit amet gravida risus semper. Sed euismod nunc in elit tincidunt, quis ornare sem condimentum. In diam turpis, condimentum vel ipsum et, congue venenatis nisi. Vestibulum vitae ante eleifend ante finibus venenatis. Praesent hendrerit nisi in massa lobortis, non congue ante pulvinar. Etiam massa mauris, dictum vitae tincidunt quis, elementum ac velit. Morbi malesuada, sem sed convallis sollicitudin, mi risus mollis est, scelerisque ornare massa mauris sit amet neque.
    </p>
    <h2 class="text-left">Protection des données</h2>
    <p class="text-justify">Suspendisse potenti. Suspendisse vel feugiat turpis, in ornare sapien. Nullam fermentum nunc quis tellus condimentum pretium. Nam quis volutpat velit. Pellentesque fermentum porta sapien at tincidunt. Donec pretium lectus enim, vel luctus sem sagittis ut. Curabitur accumsan egestas enim, efficitur varius nibh egestas ut. Mauris condimentum justo leo. Aenean suscipit et metus eu porttitor. Etiam id quam eu diam ultrices lobortis.
      Donec egestas lorem vel dolor tincidunt ullamcorper. Duis ultrices lacus in felis gravida varius. Suspendisse vel tempor lorem. Nunc imperdiet diam convallis lectus vestibulum sagittis. Vestibulum at erat a sem semper lacinia vel tristique augue. In ac auctor arcu. Curabitur accumsan eros ac suscipit commodo. Cras dolor orci, condimentum quis luctus id, tincidunt non odio. Donec sollicitudin mauris sit amet feugiat pharetra
    </p>
    <div class="custom-control custom-checkbox float-right">
      <input type="checkbox" (change)="toggleEditable($event)" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">J'ai bien lu les conditions et ...</label>
    </div><br/><br/>
    <button (click)="goToPage()" class="btn btn-success float-right ml-2">Suivant</button>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-sm">
        <img src="../../../assets/images/logos.png" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm float-end">
        <img src="../../../assets/images/propicto.png" width="150px" height="auto" class="rounded float-right" alt="...">
      </div>
    </div>
  </div>
</div>
  <app-layout></app-layout>
</div>

