<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="card">
<!--Header-->
    <div class="card-header text-center bg-info text-white">
      <h1>Post-édition des traductions en pictogrammes proposées</h1>
    </div>
<!--Body-->
    <div class="card-body">
      <h2 class="text-left">Instructions</h2>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a sodales est, a aliquam tellus. Donec id nisi blandit, efficitur nunc et, placerat tortor. Nullam finibus massa arcu, vel tempus urna elementum mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed bibendum libero, id venenatis turpis. Proin ultrices libero ut tortor euismod posuere. Integer rhoncus dui quis tellus ultricies, sit amet gravida risus semper. Sed euismod nunc in elit tincidunt, quis ornare sem condimentum. In diam turpis, condimentum vel ipsum et, congue venenatis nisi. Vestibulum vitae ante eleifend ante finibus venenatis. Praesent hendrerit nisi in massa lobortis, non congue ante pulvinar. Etiam massa mauris, dictum vitae tincidunt quis, elementum ac velit. Morbi malesuada, sem sed convallis sollicitudin, mi risus mollis est, scelerisque ornare massa mauris sit amet neque.
      </p>
      <br/>
      <div class="shadow-lg p-4 mb-5 bg-white rounded">
        <div class="container-fluid">
          <div class="row">
            <div class="col-7">
              <h1 class="display-4">1 - Vous avez beaucoup de chance</h1>
            </div>
            <div class="col">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style]="progress_bar_style" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{set_progress_bar()}}%</div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" [style.width]="set_width_translation_box(pictos)" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let sentence of pictos;let index = index" cdkDrag>
                <img [style]="pictosStyles[index]" src="http://lig-interaactionpicto.imag.fr/api/p/arasaac/{{sentence}}" alt="" height="150px" width="150px" (click)="doubleClick(pictos.indexOf(sentence))">
            </div>
        </div>
          <br />
          <button *ngIf="double_click" [disabled]="clicked" (click)="deletePicto(); clicked=true" class="btn btn-warning float-left">Supprimer</button>
          <button class="btn btn-dark float-right ml-1" type="submit"
                  (click)="quitStudy()"> Quitter </button>
          <button class="btn btn-success float-right" type="submit"
                  (click)="saveUsersDataToServer()"> Valider la traduction </button>
        <br/><br/><br/>
        <h2 class="display-4">Rechercher un mot</h2>
          <form (ngSubmit)="onSubmit(formText)" #formText="ngForm">
              <div>
                  <mat-form-field class="widthTextarea" appearance="fill">
                    <textarea matInput type="text" placeholder="{{'translatePicto.typeAWord' | translate}}"
                  id="sentence-input" name="text" ngModel required rows="2" (keyup.enter)="onSubmit(formText)"></textarea>
                  </mat-form-field>
                  <br>
                  <button class="margin-right btn btn-primary" type="submit" [disabled]="formText.invalid"> {{'translatePicto.submit' | translate}} </button>
                  <button type="button" class="margin-right btn btn-danger" (click)="erase()"> Effacer </button>
              </div>
              <br>
              <div *ngFor="let carousel of result;let index = index">
                  <h2 class="middle">{{'translatePicto.SearchResult' | translate}} : "{{this.wordsText[index].text}}"</h2>
                  <carousel *ngIf="carousel[0] !=='http://lig-interaactionpicto.imag.fr/api/p/arasaac/10056'"  [cellsToScroll]="2" [loop]="true" [arrowsOutside]="true" arrowsTheme="dark">
                      <div class="carousel-cell" *ngFor="let image of displayResult[index]">
                          <img [ngClass]="{'borderColorGreen': this.editionService.imageSelected.indexOf(image) != -1}" src="{{image}}" width="100%" height="100%" alt="image" (click)="select(image,index)">
                      </div>
                  </carousel>
                  <button *ngIf="this.is_selected" class="btn btn-primary float-right" type="submit" [disabled]="clicked_add"
                          (click)="addPicto(); clicked_add=true"> {{'translatePicto.select' | translate}} </button>
                  <div class="middle" *ngIf="carousel[0] === 'http://lig-interaactionpicto.imag.fr/api/p/arasaac/10056'">
                      Aucun pictogramme n'a été trouvé pour ce mot
                  </div>
                  <br>
              </div>
          </form>
      </div>
    </div>
<!--footer-->
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/logos.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm float-end">
          <img src="../../../assets/images/propicto.png" width="150px" height="auto" class="rounded float-right" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>


